<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-button  name="reorder-three-outline" routerLink="/home" color="secondary">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
      <ion-title>NASA EPIC Images</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div *ngIf="errorMessage">{{ errorMessage }}</div>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let image of epicImages">
        <ion-card *ngFor="let image of epicImages">
          <img [src]="getEpicImageUrl(image.image, image.date)" alt="EPIC Image" />
          <ion-card-content>
            <p>{{ image.date }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
