<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-button  name="reorder-three-outline" routerLink="/home" color="secondary">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
      <ion-title>Mars Rover Photos</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Pagination buttons -->
  <div class="pagination">
    <ion-button *ngFor="let page of [].constructor(totalPages); let i = index" 
                (click)="changePage(i + 1)" 
                [color]="(i + 1) === currentPage ? 'primary' : 'light'">
      {{ i + 1 }}
    </ion-button>
  </div>
  <ion-list>
    <ion-item *ngFor="let photo of photos">
      <ion-label>
        <h2>{{ photo.camera.full_name }}</h2>
        <p>Rover: {{ photo.rover.name }}</p>
        <p>Photo date: {{ photo.earth_date }}</p>
        <img [src]="photo.img_src" alt="Rover photo">
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Pagination buttons -->
  <div class="pagination">
    <ion-button *ngFor="let page of [].constructor(totalPages); let i = index" 
                (click)="changePage(i + 1)" 
                [color]="(i + 1) === currentPage ? 'primary' : 'light'">
      {{ i + 1 }}
    </ion-button>
  </div>
</ion-content>
