<ion-header>
  <ion-header>
    <ion-toolbar>
      <ion-item>
        <ion-button  name="reorder-three-outline" routerLink="/home" color="secondary">
          <ion-icon name="chevron-back"></ion-icon>
        </ion-button>
        <ion-title>NASA Media Search</ion-title>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <div><br></div>
  <ion-toolbar>
    <ion-item>
      <ion-label>Search Term</ion-label>
      <ion-input [(ngModel)]="searchQuery" placeholder="Enter search term"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Media Type</ion-label>
      <ion-select [(ngModel)]="mediaType">
        <ion-select-option value="image">Image</ion-select-option>
        <ion-select-option value="video">Video</ion-select-option>
        <ion-select-option value="audio">Audio</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="block" (click)="searchMedia()">Search</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="mediaResults && mediaResults.collection.items.length > 0">
    <ion-item *ngFor="let item of mediaResults.collection.items">
      <ion-thumbnail slot="start" *ngIf="item.links[0].href">
        <ion-img [src]="item.links[0].href"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.data[0].title }}</h2>
        <p>{{ item.data[0].description }}</p>
        <ion-button (click)="viewMetadata(item.data[0].nasa_id)">View Metadata</ion-button>
        <ion-button (click)="viewAssets(item.data[0].nasa_id)">View Assets</ion-button>
        <ion-button *ngIf="item.data[0].media_type === 'video'" (click)="viewCaptions(item.data[0].nasa_id)">
          View Captions
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="mediaResults && mediaResults.collection.items.length === 0">
    No results found.
  </ion-item>

  <ion-item *ngIf="errorMessage">{{ errorMessage }}</ion-item>
</ion-content>

<ion-footer>
  <!-- Ion-tab-button snippet -->
  <ion-tab-bar>
    <ion-tab-button>
      <ion-icon name="radio-outline" routerLink="/live-stream"></ion-icon>
      <span class="button-is-selected">Live Stream</span>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="newspaper-outline"></ion-icon>
      <span>Newsletter</span>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="server-outline"></ion-icon>
      <span>APIs</span>
    </ion-tab-button>
    </ion-tab-bar>
  <!-- End of ion-tab-button snippet -->
  </ion-footer>
