<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-button  name="reorder-three-outline" routerLink="/home" color="secondary">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
      <ion-title>Search Earth Image</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Latitude</ion-label>
    <ion-input type="number" [(ngModel)]="lat" required></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Longitude</ion-label>
    <ion-input type="number" [(ngModel)]="lon" required></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Date</ion-label>
    <ion-input type="date" [(ngModel)]="date" required></ion-input>
  </ion-item>
  
  <ion-button name="reorder-three-outline" (click)="getEarthImage()">Get Earth Image</ion-button>
  
  <ion-card *ngIf="earthImageUrl">
    <img [src]="earthImageUrl" alt="Earth Image" />
  </ion-card>
  
  <ion-label color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-label>

  <!-- FAB Button to Clear the Image -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="clearImage()">
      <ion-icon name="sync-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="light" (click)="clearImage()">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>