ion-header {
  text-align: center;
}

ion-item {

  ion-icon {
    justify-content: space-between;
    margin-left: 26px;
  }
}

.ion-padding {
  display: flex;
  flex-direction: column;
}

ion-button {
  margin-top: 20px;
  border-radius: 10%;
}