<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="planet"></ion-icon>
        NASA Open APIs
      <ion-icon name="planet"></ion-icon>
    </ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-icon name="logo-ionic"></ion-icon>
    <ion-icon name="logo-capacitor"></ion-icon>
    <ion-icon name="logo-angular"></ion-icon>
    <ion-icon name="logo-javascript"></ion-icon>
    <ion-icon name="logo-nodejs"></ion-icon>
    <ion-icon name="logo-npm"></ion-icon>
    <ion-icon name="logo-android"></ion-icon>
  </ion-item>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="full" routerLink="/apod" color="secondary"> 
    View Atronomy Picture of the Day (APOD)
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-button>

  <ion-button expand="full" routerLink="/asteroids" color="secondary">
    See Near-Earth Asteroids
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-button>
</ion-content>